

<div class="row">
  <form id="login" method="POST" action="/login">
    <div class="hero-unit span7 offset2">
      <div>
        <a href="#">
          <img style="margin-bottom: 50px" src="hdw-logo-very-small.png" />
        </a>
      </div>

      <h1>Ketchup with your pals. </h1>        
      <p/>
      <p>Welcome to The Hotdog Water Project, type a room name to join and click the button below to get started.</p>  
      <p class="offset1">
        <input type="text" id="roomname" name="roomname" style="margin:10px" />
          <input type="image" style="width:151px;height:24px;" src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png"/>
      </p>
    </div>

    <script>
      $(document).ready(function() {
        $('#roomname').focus().keypress(function(e){
          if(e.which == 13) {
            $('#login').submit();
          }
        });
      });
    </script>
  </form>
</div>
