<!doctype html>
<html lang="en">
  <head>
    <title>The Hotdog Water Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="bootstrap.css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>    
    <script src="socket.io/socket.io.js"></script>    
    <script src="bootstrap.js"></script>    
    <script src="hotdog.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="row" style="margin: 20px;">
      </div>
        <%- body %>
      <div class="row">
        <div class="span12 offset4">&copy; Copyright 2012, The Hotdog Water Project. All rights reserved.</div>
      </div>
    </div>
  <body>
</html>
